{%  extends "base.html.twig" %}

{%  block title  %}
 Listagem de Produtos -

{%  endblock %}

{% block body  %}

  <h1>Listando produtos</h1>
 <hr>
 
 <table class="table table-striped table-hover"></table>
 <thead>
 <tr>
  <th>Cod.Produto</th>
  <th>Nome</th>
  <th>Preço</th>
 </tr>
 </thead>
 <tbody>

 </tbody>



 
 

{% endblock %}